/* DriveLogbook.css */
.leaflet-tile-pane {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.leaflet-container {
    background: #18181b;
    font-family: 'Inter', sans-serif;
}

/* Custom Waypoint Icon Style */
.custom-waypoint-icon div {
    transition: transform 0.2s;
}

.custom-waypoint-icon:hover div {
    transform: scale(1.2);
    cursor: move;
}

/* Scrollbar utilities */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}